openapi: 3.2.0
info:
  title: Trimble Maps Geocoding API
  description: The Trimble Maps API (formerly ALK Technologies PC*MILER) provides interactive mapping and routing solutions optimized for commercial vehicles and transportation. Enables truck-specific routing, geocoding, map tile rendering, and turn-by-turn navigation services across North America, Europe, and global markets.
  version: '2.0'
  contact:
    name: Trimble Maps Developer Support
    url: https://maps.trimble.com
servers:
- url: https://pcmiler.alk.com/apis/rest/v1.0
  description: Trimble PC*MILER API v1 (North America)
- url: https://maps.trimble.com/api/v1
  description: Trimble Maps API v1
security:
- ApiKeyHeader: []
tags:
- name: Geocoding
  description: Address and coordinate conversion
paths:
  /Service.svc/geocode:
    get:
      operationId: geocodeAddress
      summary: Geocode an address
      description: Converts a street address or city/state/zip to geographic coordinates using Trimble's commercial vehicle map database.
      tags:
      - Geocoding
      parameters:
      - name: addr
        in: query
        required: true
        description: Address to geocode (street, city, state/province, zip, country)
        schema:
          type: string
        example: 1 Infinite Loop, Cupertino, CA 95014
      - name: region
        in: query
        schema:
          type: string
          enum:
          - NA
          - EU
          - SA
          - AF
          - AS
          - OC
          default: NA
        description: Geographic region
      - name: outputFormat
        in: query
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Geocoded location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponse'
  /Service.svc/reverseGeocode:
    get:
      operationId: reverseGeocode
      summary: Reverse geocode coordinates to address
      description: Converts geographic coordinates (lat/lng) to a nearest street address.
      tags:
      - Geocoding
      parameters:
      - name: coords
        in: query
        required: true
        description: Latitude and longitude as "lat,lng"
        schema:
          type: string
        example: 37.3318,-122.0312
      - name: region
        in: query
        schema:
          type: string
          enum:
          - NA
          - EU
          - SA
          default: NA
      responses:
        '200':
          description: Reverse geocoded address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
components:
  schemas:
    Coords:
      type: object
      properties:
        Lat:
          type: number
          minimum: -90
          maximum: 90
        Lon:
          type: number
          minimum: -180
          maximum: 180
    AddressResponse:
      type: object
      properties:
        Address:
          type: string
        City:
          type: string
        State:
          type: string
        Zip:
          type: string
        Country:
          type: string
        Coords:
          $ref: '#/components/schemas/Coords'
    GeocodeResponse:
      type: object
      properties:
        Lat:
          type: number
        Lon:
          type: number
        Address:
          type: string
        City:
          type: string
        State:
          type: string
        Zip:
          type: string
        Country:
          type: string
        Quality:
          type: string
          enum:
          - Exact
          - Interpolated
          - City
          - Zip
          - State
          - Country
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Format: ALK apiKey'
